<li class="list-group-item  list-group-item-action fis">
	<button type="button" class="close" aria-label="Close" data-id="{{this.id}}">
  <span aria-hidden="true">&times;</span>
</button>
<input value="{{burger_name}}" class="field left form-control" readonly="" data-id="{{this.id}}">

</li>
